<% content_for(:title, t('.title')) %>
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-12 mx-auto">
        <h3 class="title-text text-center"><%= t('.title') %></h3>
        <div class="tab-content shadow-lg">
          <%= form_with model: @user, url: update_profile_users_path, local: true, class:'custom-form mb-5 mb-lg-0', method: :patch do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="form-group mb-3">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, class: 'form-control' %>
            </div>
            <div class="form-group mb-3">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, class: 'form-control' %>
            </div>
            <div class="text-center mb-3">
              <%= f.submit t('defaults.register'), class: 'btn custom-btn btn-wide' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
