<% content_for(:title, t('.title')) %>
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-12 mx-auto">
        <h3 class="title-text text-center"><%= t('.title') %></h3>
        <div class="tab-content shadow-lg">
          <%= form_with model: @user,  url: password_reset_path(@token), local: true, method: :put do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="form-group mb-3">
              <%= f.label :email, class: 'required' %>
              <%= f.text_field :email, class: 'form-control', placeholder: t('defaults.placeholder.email') %>
            </div>
            <div class="form-group mb-3">
              <%= f.label :password, class: 'required' %>
              <%= f.password_field :password, class: 'form-control' %>
            </div>
            <div class="form-group mb-3">
              <%= f.label :password_confirmation, class: 'required' %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
            <div class="text-center mb-3">
              <%= f.submit t('defaults.update'), class: 'btn custom-btn btn-wide' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
