<% content_for(:title, t('.title')) %>
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-12 mx-auto">
        <h2 class="service-main-color text-center fst-italic"><%= t('defaults.app_name') %></h2>
        <h3 class="title-text text-center"><%= t('.title') %></h3>
        <div class="tab-content shadow-lg custom-login">
          <%= form_with model: @user, local: true do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="form-group mb-3">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, class: 'form-control' %>
            </div>
            <div class="form-group mb-3">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, class: 'form-control' %>
            </div>
            <div class="form-group mb-3">
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' %>
            </div>
            <div class="form-group mb-3">
              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>
            </div>
            <div class="form-group mb-3">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
            <div class="text-center mb-3">
              <%= f.submit t('defaults.register'), class: 'btn btn-default new-btn btn-wide' %>
            </div>
          <% end %>
          <div class="py-3 d-flex justify-content-center">
            <%= link_to t('.to_login_page'), login_path, class: "link-text" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
