<header>
  <nav class='navbar navbar-expand-lg navbar-dark bg-dark'>

    <%= link_to root_path, class: 'ms-3 navbar-brand' do %>
      <span class='text-info fw-bold fst-italic'>Review Timing</span>
    <% end %>

    <button class='me-3 navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ms-auto me-3 align-items-start'>

        <li class='nav-item dropdown'>
          <a href='#' class='nav-link dropdown-toggle' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            <%= t('defaults.menu') %>
          </a>

          <div class='dropdown-menu dropdown-menu-lg-end'>
            <%= link_to '科目一覧', '#', class: 'dropdown-item' %>
            <%= link_to '科目作成', '#', class: 'dropdown-item' %>
            <%= link_to 'スケジュール', '#', class: 'dropdown-item' %>
          </div>
        </li>

        <li class='nav-item dropdown'>
          <a href='#' class='nav-link dropdown-toggle' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false' id='header-profile'>
            <%= "#{current_user.first_name} #{current_user.last_name}" %>
          </a>
          <div class='dropdown-menu dropdown-menu-lg-end'>
            <%= link_to 'プロフィール', '#', class: 'dropdown-item' %>
            <%= link_to '設定', '#', class: 'dropdown-item' %>
            <%= link_to t('defaults.logout'), logout_path, class: 'dropdown-item', data: { turbo_method: :delete, turbo_confirm: t('defaults.message.confirm_logout') } %>
          </div>
        </li>

      </ul>
    </div>
  </nav>
</header>