<div class="tab-content shadow-lg">
    <%= form_with model: subject, local: true, class:'custom-form mb-5 mb-lg-0' do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group mb-3">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <div class="form-group mb-3 w-50">
        <%= f.label :start_at %>
        <%= f.datetime_field :start_at, class: 'form-control' %>
      </div>
      <div class="form-group mb-3 w-50">
        <%= f.label :limit_at %>
        <%= f.datetime_field :limit_at, class: 'form-control' %>
      </div>
      <div class="form-group mb-3">
        <%= f.label :memo %>
        <%= f.text_area :memo, class: 'form-control', rows: 10 %>
      </div>
      <div class="text-center mb-3">
        <%= f.submit t('defaults.register'), class: 'btn custom-btn btn-wide' %>
      </div>
    <% end %>
</div>
