<%= form_with model: subject, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group mb-3">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group mb-3 w-50">
    <%= f.label :start_at %>
    <%= f.datetime_field :start_at, class: 'form-control' %>
  </div>
  <div class="form-group mb-3 w-50">
    <%= f.label :limit_at %>
    <%= f.datetime_field :limit_at, class: 'form-control' %>
  </div>
  <div class="form-group mb-3">
    <%= f.label :memo %>
    <%= f.text_area :memo, class: 'form-control', rows: 10 %>
  </div>
  <%= f.submit t('defaults.register'), class: 'btn btn-primary mt-2 mb-3 w-100' %>
<% end %>
