<tr>
  <th scope="row"><%= subject.title %></th>
  <td><%= I18n.ln(subject.start_at) %></td>
  <td><%= I18n.ln(subject.limit_at) %></td>
  <td>
    <div class="text-center">
      <%= link_to t('defaults.delete'), subject_path(subject), data: { turbo_method: :delete, turbo_confirm: t('defaults.message.confirm_delete') }, class: 'btn btn-default del-btn my-1 mx-1' %>
      <%= link_to t('defaults.detail'), subject_subject_details_path(subject), class: 'btn btn-default detail-btn my-1 mx-1' %>
      <%= link_to t('defaults.edit'), edit_subject_path(subject), class: 'btn btn-default edit-btn my-1 mx-1' %>
    </div>
  </td>
</tr>
