<%= render 'shared/error_messages', object: f.object %>
<div class="form-group mb-3">
  <%= f.label :chapter %>
  <%= f.text_field :chapter, class: 'form-control' %>
</div>
<div class="row">
  <div class="col-3">
    <div class="form-group mb-3">
      <%= f.label :start_page %>
      <%= f.number_field :start_page, class: 'form-control' %>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group mb-3">
      <%= f.label :end_page %>
      <%= f.number_field :end_page, class: 'form-control' %>
    </div>
  </div>
</div>
<div class="form-group mb-3 w-50">
  <%= f.label :start_at %>
  <%= f.datetime_field :start_at, class: 'form-control' %>
</div>
<div class="text-center mb-3">
  <%= f.submit t('defaults.register'), class: 'btn custom-btn btn-wide' %>
</div>
