<% content_for(:title, t('.title')) %>
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="title-text"><%= t('.title') %></h3>
        <div class="table-responsive">
          <table class="schedule-table table bg-light table-hover">
            <thead>
              <tr>
                <th scope="col"><%= t('activerecord.attributes.subject_detail.chapter') %></th>
                <th scope="col"><%= t('activerecord.attributes.subject_detail.page') %></th>
                <th scope="col"><%= t('activerecord.attributes.subject_detail.start_at') %></th>
                <th scope="col">
                  <%= link_to t('defaults.add'), new_subject_subject_detail_path(@subject), class: 'btn btn-default new-btn' %>
                </th>
              </tr>
            </thead>
            <tbody>
              <% if @subject_details.present? %>
                <%= render @subject_details %>
              <% else %>
                <tr>
                  <td colspan="4" class="text-center"><%= t('.no_subject') %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</section>
